.App-header {
  background-color: #282c34;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2rem;
}

body {
  font: 18px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #37474f;
  float: left;
  font-size: 56px;
  font-weight: bold;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 80px;
}

button {
    font-size: 14px;
}

li button {
    width: 170px;
}

button:hover {
    cursor: pointer;
}

.square:hover {
    background: #e0e0e0;
    cursor: pointer;
}

.winning-square {
  background: rgba(0, 151, 19, 0.3);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
  width: 200px;
}

.status {
    margin-bottom: 1rem;
}

.reset-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.sort-btn {
    margin-left: 1rem;
}